<template>
    <div>
        <b-table striped hover :items="clientes" :fields="fields"></b-table>
    </div>
</template>

<script>

import axios from 'axios'

export default {
  data() {
    return {
      fields: ['id', 'nombre', 'ruc', 'direccion', 'telefono', 'correo', 'id_tipo'],
      clientes: []
    }
  },
  methods: {
    getClientes () {
      const path = `http://127.0.0.1:8000/api/v1.0/cliente/`
      axios.get(path).then((response) => {
        this.clientes = response.data
      })
        .catch((error) => {
          console.log(error)
        })
    }
  },
  created() {
    this.getClientes()
  }
}
</script>
