<template>
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h2>Crear Cotizacion</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form @submit="onSubmit">
                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-lab">Proyecto</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Proyecto" name="proyecto" class="form-control" v-model.trim="form.nombre">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-lab">Rol</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Rol" name="rol" class="form-control" v-model.trim="form.codigo">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-lab">Cantidad</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Cantidad" name="cantidad" class="form-control" v-model.trim="form.cliente">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-lab">Tiempo Asignado</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Tiempo" name="tiempo" class="form-control" v-model.trim="form.cliente">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-lab">Tarifa</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Tarifa" name="tarifa" class="form-control" v-model.trim="form.cliente">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-lab">Unidad Tiempo</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="und. tiempo" name="tarifa" class="form-control" v-model.trim="form.cliente">
                                </div>
                            </div>

                            <div class="rows">
                              <div class="col text-left">
                                <button v-on:click="createProject()">Crear</button>
                                <router-link :to="{name: 'Projects'}">
                                  <button type="submit" class="btn-large-space">Cancelar</button>
                                </router-link>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert'
import datePicker from 'vue-bootstrap-datetimepicker'

export default {
  components: {
    datePicker
  },
  data() {
    return {
      form: {
        nombre: '',
        codigo: '',
        cliente: '',
        fecha_creacion: null
      }
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
    },
    createProject () {
      const path = `http://127.0.0.1:8000/api/v1.0/projects/`
      axios.post(path, this.form).then((response) => {
        this.form.nombre = response.data.nombre
        this.form.codigo = response.data.codigo
        this.form.cliente = response.data.cliente
        this.form.fecha_creacion = response.data.fecha_creacion
        swal('Proyecto creado exitosamente', '', 'success')
      })
      .catch((error) => {
        swal('El Libro no se ha creado' + error, '', 'error')
      })
    }
  }
}
</script>
