<template>
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h2>Eliminar Proyecto</h2>
            </div>
            <div class="col">
              <h4>¿Estas seguro de querer dar de baja al Proyecto?</h4>
              <p>Codigo: {{ this.proyecto.codigo }}</p>
              <p>Nombre: {{ this.proyecto.nombre }}</p>              
            </div>
        </div>

        <div class="col-sm-6">
          <div class="col">
            <button v-on:click="deleteProject()">Eliminar</button>
          </div>
        </div> 
    </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert'
import datePicker from 'vue-bootstrap-datetimepicker'

export default {
  components: {
    datePicker
  },
  data() {
    return {
      projectid: this.$route.params.projectid,
      proyecto: {
        nombre: '',
        codigo: '',
        cliente: '',
        fecha_creacion: null
      }
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
    },
    getProject () {
      const path = `http://127.0.0.1:8000/api/v1.0/projects/${this.projectid}/`
      axios.get(path).then((response) => {
        this.proyecto = response.data
        this.form.nombre = response.data.nombre
        this.form.codigo = response.data.codigo
        this.form.cliente = response.data.cliente
        this.form.fecha_creacion = response.data.fecha_creacion
      })
      .catch((error) => {
        console.log(error)
      })
    },
    deleteProject () {
      const path = `http://127.0.0.1:8000/api/v1.0/projects/${this.projectid}/`
      axios.delete(path).then((response) => {
        this.form.nombre = response.data.nombre
        this.form.codigo = response.data.codigo
        this.form.cliente = response.data.cliente
        this.form.fecha_creacion = response.data.fecha_creacion
        swal('Proyecto Dado de Baja', '', 'success')
        location.href = '/projects'
      })
      .catch((error) => {
        swal('No es posible dar de baja al proyecto' + error, '', 'error')
      })
    }
  },
  created() {
    this.getProject()
  }
}
</script>
