<template>
    <div class="container">
        <div class="row">
            <div class="col text-left">
                <h2>Editar Proyecto</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form @submit="onSubmit">
                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-lab">Codigo</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Codigo" v-model="form.codigo">                                    
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-lab">Nombre</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Nombre" v-model="form.nombre">
                                </div>
                            </div>                            

                            <div class="form-group row">
                                <label for="title" class="col-sm-2 col-form-lab">Cliente</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="Cliente" v-model="form.cliente">
                                </div>
                            </div>

                            <div class="form-group row">
                              <label for="title" class="col-sm-2 col-form-lab">Fecha Registro</label>
                              <div class="col-sm-6">                                
                                <date-picker v-model="form.fecha_creacion">                                  
                                </date-picker>
                              </div>
                            </div>

                            <div class="rows">
                              <div class="col text-left">
                                <button v-on:click="editProject()">Editar</button>
                                <router-link :to="{name: 'Projects'}">
                                  <button type="submit" class="btn-large-space">Cancelar</button>
                                </router-link>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import swal from 'sweetalert'
import datePicker from 'vue-bootstrap-datetimepicker'

export default {
  components: {
    datePicker
  },
  data() {
    return {
      projectid: this.$route.params.projectid,
      proyecto: null,
      form: {
        nombre: '',
        codigo: '',
        cliente: '',
        fecha_creacion: null
      }
    }
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault()
    },
    getProject () {
      const path = `http://127.0.0.1:8000/api/v1.0/projects/${this.projectid}/`
      axios.get(path).then((response) => {
        this.proyecto = response.data
        this.form.nombre = response.data.nombre
        this.form.codigo = response.data.codigo
        this.form.cliente = response.data.cliente
        this.form.fecha_creacion = response.data.fecha_creacion
      })
      .catch((error) => {
        console.log(error)
      })
    },
    editProject () {
      const path = `http://127.0.0.1:8000/api/v1.0/projects/${this.projectid}/`
      axios.put(path, this.form).then((response) => {
        this.form.nombre = response.data.nombre
        this.form.codigo = response.data.codigo
        this.form.cliente = response.data.cliente
        swal('Proyecto actualizado correctamente', '', 'success')
      })
      .catch((error) => {
        console.log(error.config)
      })
    }
  },
  mounted() {
    this.getProject()
  }
}
</script>
