<template>
  <section class="content">
    <div class="row center-block">
      <!--<h2>Simple</h2>-->
      <div class="col-md-12">        
      </div>
    </div>
    <div class="row center-block">
      <h2>Hitos</h2>
      <div class="col text-right">
          <router-link :to="{name: 'CreateProject'}">
            <button type="submit" class="btn-large-space">Estimar Hitos</button>
          </router-link>
      </div>
      <br>
      <div class="col-md-12">
      <label> Codigo Hito: </label>
      <input class="dropdown-input"
          
          :name="name"
          @focus="showOptions()"
          @blur="exit()"
          @keyup="keyMonitor"
          v-model="searchFilter"
          
          :placeholder="placeholder" />
      </div>
      <div class="col-md-12">        
        <div class="box">
          <div class="box-header">
            
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap" id="example1_wrapper">
              <div class="row">
                <div class="col-sm-6">
                  <div id="example1_length" class="dataTables_length">
                  </div>
                </div>
              </div>

              <div class="row">                            
                <div class="col-sm-12 table-responsive">
                  <table aria-describedby="example1_info" role="grid" id="example1" class="table table-bordered table-striped dataTable">
                    <thead>
                      <th v-for="header in presaleHeader">{{header}}</th>
                    </thead>                                      
                    <tr v-for="(presale, index) in presales">
                      <td>{{ index + 1 }} </td>
                      <td>{{ presale.codigo }}</td>
                      <td>{{ presale.nombre }}</td>
                      <td>{{ presale.cliente }}</td>
                      <td>{{ presale.fecha_creacion }}</td>
                      <td>{{ presale.costo_total }}</td>
                      <td>
                         <div class="col text-left">
                           <router-link :to="{name: 'EditProject', params: {projectid: index + 1}}">
                              <button type="submit" class="btn-large-space">Editar</button>
                            </router-link>
                           <router-link :to="{name: 'DeleteProject', params: { projectid: parseInt( project.codigo ) }}">
                             <button type="submit" class="btn-large-space">Eliminar</button>
                            </router-link>
                          </div>
                      </td>
                    </tr>                    
                  </table>
                  <div class="col-sm-6">
                  <div id="example1_lenght" class="dataTables_length">
                    <label>
                      Mostrar
                      <select class="form-control-input-sm" name="example1_length" aria-controls="example1">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                      </select>
                      Resultados
                    </label>
                  </div>
                </div> 
                </div>
              </div>
            </div>
            <!--<!- /.box-body -->            
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// import $ from 'jquery'
import axios from 'axios'

// Require needed datatables modules
require('datatables.net')
require('datatables.net-bs')

export default {
  data () {
    return {
      presaleHeader: ['Proyecto', 'Hito', 'Fecha Entrega', 'Estimado Entrega', 'Fecha Pago', 'Estimado Pago', 'Costo', 'Accion'],
      presales: []
    }
  },
  props: {
    placeholder: {
      type: String,
      required: false,
      default: 'Codigo del Hito',
      note: 'Placeholder of dropdown'
    },
    placeholder2: {
      type: String,
      required: false,
      default: 'Escribe un Cliente',
      note: 'Placeholder of dropdown'
    }
  },
   /* ,mounted() {
    this.$nextTick(() => {
      $('#example1').DataTable()
    })
  }, */
  methods: {
    getProjects () {
      const path = `http://127.0.0.1:8000/api/v1.0/projects/`
      axios.get(path).then((response) => {
        this.projects = response.data
      })
      .catch((error) => {
        console.log(error)
      })
    }
  },
  mounted() {
    this.getProjects()
  }
}
</script>
<style>
/* Using the bootstrap style, but overriding the font to not draw in
   the Glyphicons Halflings font as an additional requirement for sorting icons.

   An alternative to the solution active below is to use the jquery style
   which uses images, but the color on the images does not match adminlte.
@import url('/static/js/plugins/datatables/jquery.dataTables.min.css');
*/

@import url('/static/js/plugins/datatables/dataTables.bootstrap.css');

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  font-family: 'FontAwesome';
}

table.dataTable thead .sorting:after {
  content: '\f0dc';
}

table.dataTable thead .sorting_asc:after {
  content: '\f0dd';
}

table.dataTable thead .sorting_desc:after {
  content: '\f0de';
}
</style>
